/* ==========================================================================
HTML5 Boilerplate styles 
========================================================================== */

html,
button,
input,
select,
textarea { color: #222; }

body { font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

hr {
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

img { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.chromeframe {
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */

body { font: 16px/26px Helvetica, Helvetica Neue, Arial; }

.wrapper { margin: 0 5%; width: 90%; }

.title { color: white; }


/* ==============
    MOBILE: Main
============== */

.main { padding: 30px 0; }


/* ===============
    ALL: IE Fixes
=============== */

.ie7 .title { padding-top: 20px; }

/* ==========================================================================
Author's custom styles
========================================================================== */

@font-face {
    font-family: 'RalewayRegular';
    src: url('../font/Raleway/RalewayRegular.eot');
    src: url('../font/Raleway/RalewayRegular.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway/RalewayRegular.woff') format('woff'),
         url('../font/Raleway/RalewayRegular.ttf') format('truetype'),
         url('../font/Raleway/RalewayRegular.svg#RalewayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RalewaySemiBold';
    src: url('../font/Raleway/RalewaySemiBold.eot');
    src: url('../font/Raleway/RalewaySemiBold.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway/RalewaySemiBold.woff') format('woff'),
         url('../font/Raleway/RalewaySemiBold.ttf') format('truetype'),
         url('../font/Raleway/RalewaySemiBold.svg#RalewaySemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{min-width: 1024px;min-height: 600px;height: 100%;}

#mobile-footer {display:none;}

#logo>img { display: block; margin-left: auto; margin-right: auto;}

#logo div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    padding: 1em;
    width: 80%;
}

#search {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: -3.5em;
}

#search img{height: 4em;}


#map{
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 12%;
    
}

#map img{height: 4em;}
#textbox {
    border: 3px solid rgba(30,156,203,1);
    border-radius: 1em;
    padding: 0.4em;
    padding-left: 1em;
    width: 70%;
    margin-left:-1.9em;
}

#resultname, #resultprovince{width:100%;!important}

#resultnames h2{
    width: 75%; 
    margin-left:auto;
    margin-right: auto;
}

#resultprovinces h2{
    width: 75%; 
    margin-left:auto;
    margin-right: auto;
}

.result {
    border-radius: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    padding: 0.5em;
    width: 75%;
}

input:focus, input:active { 
    border: 3px solid rgba(30,156,203,1);
    border-radius: 1em; outline: 0; 
}

.result p { 
   font-family: 'RalewaySemiBold'; 
   margin-bottom: 0em; 
   margin-top: 0em; 
   color: white;
   font-size: 1.3em;
   text-transform:uppercase;
}

.result a{color:white;text-decoration:none;}
.result a:hover{text-decoration:underline;}
.result a:visited{color:rgba(242,242,242,1);}

.provname { float: right;}

.footer-container img {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-width: 1024px;
    position:absolute;
    bottom:0;
}

.main-container{margin-bottom: 10%;}

#generalmap{
    width:80%;
    height:80%;
    border-radius: 0.5em;
    background-color: lightblue;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    border:6px solid rgb(230,230,230);
    box-shadow:0.5em 0.5em 0.5em grey;
}

#closemap{text-decoration: none;color: black;text-align:right;font-family: 'RalewaySemiBold';right:0;}
#closemap:hover{text-decoration: underline;color:grey;}

/*
Estas de abajo son los colores de fondo de cada provincia, para identificarlas usamos las 3 primeras letras
de las mismas. 
*/

.avi{
    background: rgb(91,117,200);
}
.bur{
    background: rgb(174,173,79);
}
.leo{
    background: rgb(91,193,200);
}
.pal{
    background: rgb(174,175,115);
}
.sal{
    background: rgb(174,79,101);
}
.seg{
    background: rgb(100,153,191);
}
.sor{
    background: rgb(195,137,96);
}
.val{
    background: rgb(155,120,170);
}
.zam{
    background: rgb(114,79,174);
}

/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-device-width: 480px) and (max-device-width: 1023px) {
            body { height: 100%; width: 100%;}
            #mobile-footer {
                display: block;
                font-family: 'RalewaySemiBold';
                font-size: 1em;
                text-align: center;
            }
            #mobile-footer a { color: black; text-decoration: none; }
            #mobile-footer a:hover { text-decoration: underline; }
            #mobile-footer p{margin-top: 0;margin-bottom: 0;}
            
            .footer-container { display: none; }
            .footer-container img { display: none; }
            
            .result p { font-size: 0.7em; }
            
            .wrapper { height: 85%; width: 85%; margin-right:auto;margin-left:auto;}
            #logo>img { width: 75%; }
            #logo div { font-size: 1em; margin-top: 0.5em; width: 85%; }
            .result {
                border-radius: 0.5em;
                display: block;
                margin-top: 0.5em;
                padding: 0.6em;
                width: 65%;
            }
}

@media only screen and (min-width: 1140px) {
        
        /* ===============
            Maximal Width
        =============== */
        
            .wrapper { margin: 0 auto; width: 1026px /* 1140px - 10% for margins */; }
}

/* ==========================================================================
Helper classes
========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
}

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible { visibility: hidden; }

.clearfix:before,
.clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

/* ==========================================================================
Print styles
========================================================================== */

@media print {
            * {
                background: transparent !important;
                box-shadow: none !important;
                color: #000 !important; /* Black prints faster: h5bp.com/s */
                text-shadow: none !important;
            }
        
            a,
            a:visited { text-decoration: underline; }
        
            a[href]:after { content: " (" attr(href) ")"; }
        
            abbr[title]:after { content: " (" attr(title) ")"; }
        
            /*
            * Don't show links for images, or javascript/internal links
            */
        
            .ir a:after,
            a[href^="javascript:"]:after,
            a[href^="#"]:after { content: ""; }
        
            pre,
            blockquote { border: 1px solid #999; page-break-inside: avoid; }
        
            thead { display: table-header-group /* h5bp.com/t */; }
        
            tr,
            img { page-break-inside: avoid; }
        
            img { max-width: 100% !important; }
        
            @page { margin: 0.5cm; }
        
            p,
            h2,
            h3 { orphans: 3; widows: 3; }
        
            h2,
            h3 { page-break-after: avoid; }
}
